/* Certificates Section */
.certificate-section {
  padding: 40px;
  text-align: center;
  padding: 100px 100px;
}

// .section-heading {
//   font-size: 28px;
//   margin-bottom: 30px;
//   font-weight: bold;
// }

.certificate-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 25px;
}

.certificate-banner {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  
  // Adjusted for responsiveness
  flex: 1 1 350px;
  max-width: 450px;

  // Modern styling
  
  background: rgba(4, 3, 16, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

.certificate-banner:hover {
  transform: scale(1.02) translateY(-8px);
  box-shadow: 0 8px 25px rgba(168, 153, 255, 0.2);
}

.certificate-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.certificate-info {
  padding: 15px;
  text-align: center;
  background: rgba(16, 16, 16, 0.5); // Darker background for better contrast
  color: #fff;
}

.certificate-info h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: #a899ff; // Matched with the title color
}

/* Skeleton Loader */
.skeleton-loader {
  width: 100%;
  height: 250px;
  background: linear-gradient(90deg, #0d0b1f 25%, #09061e 37%, #0d0b1f 63%);
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

/* Mobile-first adjustments */
@media (max-width: 768px) {
  .certificate-list {
    flex-direction: column;
    align-items: center;
  }

  .certificate-banner {
    max-width: 100%;
  }
}

/* Modal for certificate pop-up */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
  background: rgba(4, 3, 16, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);

}

.modal-content {
  position: relative;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(255, 254, 254, 0.5);
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
  
  @media (min-width: 768px) {
    max-width: 800px;
    padding: 30px;
  }
}

.modal-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}